<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="blockNumber" value="3"/>
    <add key="borderWidthInPixel" value="2"/>
    <add key="backgroundName" value="ffffffff"/>
    <add key="needScale" value="true"/>
    <add key="filePath" value="c:\temp"/>
  </appSettings>
</configuration>